.imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  height: 80vh;
  background-image: url(/assets/aboutBackgroundFinalCropped.jpg);
  background-size: cover;
  // background-repeat: no-repeat;
}
.heading {
  margin: 0 auto;
  font-size: 4.5rem; 
  color: transparent;
  width: 70%;
  letter-spacing: 1px;
  font-family: "Rajdhani", sans-serif;
  font-family: serif;
  text-align: center;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
}


.topCont1 {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  line-height: 1.5;
  letter-spacing: 1px;
  h1 {
    margin-top: 4rem;
  }
  .ctn {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p,ol {
      max-width: 800px;
      font-size: large;
      text-align: justify;
      margin: auto;
      font-weight: 300;
    }
  }
}

.topCont2 {
  background-color: #c4ebc2;
  font-family: sans-serif;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  line-height: 1.5;

  ol {
    li {
      margin-bottom: 1rem;
    }
  }
}
hr {
  border-bottom: 1px solid rgba(51, 51, 51, 0.041);
  display: none;
}
/* #c4ebc2  #aecfa4 #6bbd99 #3b887e */

.topCont1.sec3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
}
.serviceHead{
  margin-top: 4rem;
}

.newClass{
  background-color: #333;
  color: white;
}

.topCont4.topCont1 {
  background-color: #333;
  color: white;
  .ctn {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    .imgCont {
      width: 400px;
      height: 400px;
      background-image: url(/assets/illustration3.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

// @media screen and (width < 700px) {
//   .heading {
//     font-size: 3.5rem;
//   }

//   .topCont1 {
  //     h1 {
//       font-size: 2.2rem;
//     }
//   }
// }
 
.topCont4 span {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0;
  font-family: "Playfair Display";
}
.topCont4 ul {
  padding-left: 0;
}
.topCont4 ul li {
  margin-top: 1rem;
  text-align: left;
  list-style-type: none;
}
.topCont4 img {
  float: right;
  height: 35rem;
  margin-left: 2rem;
  /* margin-bottom: 15%; */
}
.topCont4 ol li a {
  color: #f2f2f2;
  text-decoration: none;
  transition: 150ms;
}
.topCont4 ol li a:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: 150ms;
}
.img3{
  width: 20vw;
  align-items: center;
}
@media screen and (width < 450px) {
  .imgCont {
    // height: 60vh;
    width: 100%;
    height: 40vh;
    // height: 50vh;
    background-image: url(/assets/aboutBackgroundFinalCroppedMobile.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-size: 2rem;
    width: 85%;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
    color: rgba(255, 255, 255, 0.5);
  }
  .topCont1 {
    h1 {
      font-size: large;
      margin-top: 3.5rem;
    }
  }
  .ctn {
    p{
      font-size: medium !important;
    }
  }
  .margin-less{
    margin: 1rem !important;
  }
  .topCont1 {
    min-height: auto !important;
  }
  .sec3{
    margin-top: 5rem !important;
    img{
      width: 80% !important;
    }
  }
  .serviceHead{
    margin-top: 0rem !important;
  }
  .ctn{
    display: block !important;
  }
  .topCont1 .imgCont {
      width: 100% !important;
      height: 45vh !important;
  }
  .img3{
    width: 80% !important;
    align-items: center !important;
  }
}


@media screen and (400px < width < 700px) {
  .heading {
    font-size: 3.5rem;
  }
  .imgCont{
    width: auto;
    height: 50vh;
    background-image: url(/assets/aboutBackgroundFinalCropped.jpg);
    background-size: cover;
  }
  .img3{
    width: 80% !important;
    align-items: center !important;
  }
}
.animationtoRight {
  -webkit-animation: animationtoRight 2s;
  -moz-animation: animationtoRight 2s;
  -ms-animation: animationtoRight 2s;
  -o-animation: animationtoRight 2s;
  animation: animationtoRight 2s;
}
@keyframes animationtoRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes animationtoRight {
  from {
    opacity: 0;
    -moz-transform: translateX(-50px);
  }
  
  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-webkit-keyframes animationtoRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-ms-keyframes animationtoRight {
  from {
    opacity: 0;
    -ms-transform: translateX(-50px);
  }

  to {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-o-keyframes animationtoRight {
  from {
    opacity: 0;
    -o-transform: translateX(-50px);
  }

  to {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

.animationtoLeft {
  -webkit-animation: animationtoLeft 2s;
  -moz-animation: animationtoLeft 2s;
  -ms-animation: animationtoLeft 2s;
  -o-animation: animationtoLeft 2s;
  animation: animationtoLeft 2s;
}

@keyframes animationtoLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
    /* transform: translateY(50px); */
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes animationtoLeft {
  from {
    opacity: 0;
    -moz-transform: translateX(50px);
  }

  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-webkit-keyframes animationtoLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-ms-keyframes animationtoLeft {
  from {
    opacity: 0;
    -ms-transform: translateX(50px);
  }

  to {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-o-keyframes animationtoLeft {
  from {
    opacity: 0;
    -o-transform: translateX(50px);
  }

  to {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

/* animation for heading image */

.animationMain {
  -webkit-animation: animationMain 1.5s ease-out;
  -moz-animation: animationMain 1.5s ease-out;
  -ms-animation: animationMain 1.5s ease-out;
  -o-animation: animationMain 1.5s ease-out;
  animation: animationMain 1.5s ease-out;
}
@keyframes animationMain {
  0% {
    opacity: 0;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes animationMain {
  0% {
    opacity: 0;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes animationMain {
  0% {
    opacity: 0;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-ms-keyframes animationMain {
  0% {
    opacity: 0;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes animationMain {
  0% {
    opacity: 0;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.animationTop {
  -webkit-animation: animationTop 2s ease-in-out;
  -moz-animation: animationTop 2s ease-in-out;
  -ms-animation: animationTop 2s ease-in-out;
  -o-animation: animationTop 2s ease-in-out;
  animation: animationTop 2s ease-in-out;
}
@keyframes animationTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes animationTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes animationTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-ms-keyframes animationTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes animationTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
