<!-- 
        check animation on -

        1. heading & background image at the top
        2. Mission
        3. Our services & illustration at the left
        4. Contact us & illustration at the right
     -->


<uni-atp [searchBar]="false"></uni-atp>
<div class="imgCont">
  <img class="addAnim1" src="/assets/aboutBackgroundFinalCropped.jpg" alt="">
</div>
<div class="topCont addAnim1">
  <h1 class="heading">"<span>Our goal is to help you lead a healthy and fulfilling life.</span>"</h1>
</div>
<div class="topCont1">
  <div>
    <p><span>Welcome to Your Wellness:</span>
      <br>
      <br>
      At Your Wellness, we are committed to providing compassionate, patient-centered care that improves
      the health and well-being of our community. Our team of dedicated professionals is here to support you
      and
      your healthcare needs, and we take pride in offering personalized attention and high-quality medical
      services to every individual we serve.
    </p>
  </div>
</div>
<div class="topCont2">
  <div class="addAnim2">
    <span>Mission:</span> <br>

    Our mission is to provide compassionate, patient-centered care that improves the health and well-being of
    our community. We strive to be a trusted resource for our patients, offering high-quality medical services
    and personalized attention to each individual we serve.
    <br>
    <hr><br>
    <span>Values we operate on:</span>
    <ul>
      <li> 1. Compassion: We approach every patient with empathy and understanding, and strive to make every
        interaction a positive one.</li>
      <li> 2. Respect: We treat every patient with dignity and respect, regardless of their background or
        circumstances.</li>
      <li> 3. Excellence: We are committed to providing the highest-quality medical care, and constantly strive to
        improve our services and technology.</li>
      <li> 4. Collaboration: We believe that the best outcomes are achieved through teamwork and collaboration,
        and
        work closely with our patients and other healthcare providers to achieve the best possible results.</li>
      <li> 5. Integrity: We hold ourselves to the highest standards of professionalism and ethical behavior, and
        are
        committed to transparency and accountability in all of our interactions.</li>
    </ul>


    By aligning our actions with these values, we aim to create a healthcare environment that promotes healing,
    wellness, and trust.

  </div>
</div>
<div class="topCont3">
  <div class="addAnim">
    <img src="/assets/illustration1.webp" alt="">
  </div>
  <div class="contDIV addAnim">
    <div><span>Our Services:</span>
      <br>
      At Your Wellness, we offer a wide range of medical services to meet the needs of our patients. Whether
      you
      are in need of routine medical care, preventative screenings, or specialized treatments, our team of
      skilled
      professionals is here to help. Our services include, but are not limited to:
      <ul>
        <li>1. Lorem ipsum dolor sit, amet co.</li>
        <li>2. Lorem ipsum dolor sit, amet co.</li>
        <li>3. Lorem ipsum dolor sit, amet co.</li>
        <li>4. Lorem ipsum dolor sit, amet co.</li>
      </ul>
    </div>
  </div>
</div>
<div class="topCont4">
  <img class="addAnim3" src="/assets/illustration3.png" alt="">
  <div class="addAnim3">
    <span>Contact Us:</span><br>
    Thank you for your interest in our healthcare services. If you have any questions, comments, or concerns,
    please don't hesitate to get in touch with us.
    <ul class="addAnim3">
      <li>Phone: +91-456897123</li>
      <li>Email: yourwellness@care.in</li>
      <li>Address: Indore, India</li>
      <li>Hours of operation: 24/7</li>
      <li>Social media: <a href="">Instagram</a> <a href="">Twitter</a> <a href="">Facebook</a></li>
    </ul>
  </div>
  <br><br>
  <p>We value your feedback and are committed to providing you with the best possible experience. Please feel free
    to
    contact us using the information above, or use the contact form on our website to send us a message
    directly.
    Thank you for choosing us as your healthcare provider. We look forward to serving you.</p>
</div>
