<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" href="about.component.scss">
</head>
<body>

<uni-atp [searchBar]="false"></uni-atp>
<div class="imgCont">
  <h1 class="heading addAnim">"Our goal is to help you lead a healthy and fulfilling life."</h1>
</div>
<div class="topCont1">
  <h1>Welcome to {{appName}}</h1>
  <div class="ctn">
    <p>
      At {{appName}}, we are committed to providing compassionate, patient-centered care that improves
      the health and well-being of our community. Our team of dedicated professionals is here to support you
      and
      your healthcare needs, and we take pride in offering personalized attention and high-quality medical
      services to every individual we serve.
    </p>
  </div>
</div>
<div class="topCont1 topCont2">
  <h1>Mission</h1>
  <div class="ctn">
    <div class="addAnim2">
      <p>
        Our mission is to provide compassionate, patient-centered care that improves the health and well-being of
        our community. We strive to be a trusted resource for our patients, offering high-quality medical services
        and personalized attention to each individual we serve.
      </p>
      <h1>Values we operate on</h1>
      <ol>
        <li>
          <p>
            <span style="font-weight: 500;">Compassion:</span> We approach every patient with empathy and understanding,
            and strive to make every
            interaction a positive one.
          </p>
        </li>
        <li>
          <p>
            <span style="font-weight: 500;">Respect:</span> We treat every patient with dignity and respect, regardless
            of their background or
            circumstances.
          </p>
        </li>
        <li>
          <p>
            <span style="font-weight: 500;">Excellence:</span> We are committed to providing the highest-quality medical
            care, and constantly
            strive to
            improve our services and technology.
          </p>
        </li>
        <li>
          <p>
            <span style="font-weight: 500;">Collaboration:</span> We believe that the best outcomes are achieved through
            teamwork and
            collaboration,
            and work closely with our patients and other healthcare providers to achieve the best possible results.
          </p>
        </li>
        <li>
          <p><span style="font-weight:500;">Integrity:</span> We hold ourselves to the highest standards of
            professionalism and ethical behavior,
            and
            are committed to transparency and accountability in all of our interactions.</p>
        </li>
      </ol>


      <p style="margin-top: 16px; font-weight: 500;">
        By aligning our actions with these values, we aim to create a healthcare environment that promotes healing,
        wellness, and trust.
      </p>

    </div>
  </div>
</div>
<div class="topCont1">
  <h1>Welcome to {{appName}}</h1>
  <div class="ctn">
    <video src="/assets/unihosp_intro_past.mp4" width="90%" controls></video>
  </div>
</div>
<div class="topCont1 sec3">
  <div class="addAnim" style="margin-top: 2rem;">
    <img src="/assets/illustration1.webp" alt="">
  </div>
  <div class="ctn addAnim">
    <h1>Our Services</h1>
    <div>
      <p style="font-weight: 500;">
        At {{appName}}, we offer a wide range of medical services to meet the needs of our patients. Whether
        you
        are in need of routine medical care, preventative screenings, or specialized treatments, our team of
        skilled
        professionals is here to help. Our services include, but are not limited to
      </p>
      <ol>
        <li>You can access your past medical records any time.</li>
        <li>Share access to your profile with family</li>
        <li>You will be able to fetch insurance and medical detials in future update </li>
        <li>Search For Nearby Hospitals and set Appointment</li>
      </ol>
    </div>
  </div>
</div>
<div class="topCont4 topCont1">
  <div class="ctn">
    <div class="imgCont addAnim3">
    </div>
    <div class="addAnim3">
      <h1 style="text-align: start;">Contact Us</h1>
      <p style="margin: 2rem auto;">
        Thank you for your interest in our healthcare services. If you have any questions, comments, or concerns,
        please don't hesitate to get in touch with us.
      </p>
      <ol class="addAnim3">
        <li>Phone: +91-9039515936</li>
        <li>Email: creator6774@gmail.com</li>
        <li>Address: Indore, India</li>
        <li>Hours of operation: 24/7</li>
        <li>Social media:
          <a href="/"><i class="sociallogo fa-brands fa-instagram"
              style="margin: 0 5px; cursor: pointer;"></i>Instagram</a>
          <a href="/"><i class="fa-brands fa-twitter" style="margin: 0 5px; cursor: pointer;"></i>Twitter</a>
          <a href="/"><i class="fa-brands fa-facebook" style="margin: 0 5px; cursor: pointer;"></i>Facebook</a>
        </li>
      </ol>
    </div>
  </div>
  <p style="max-width: 90%; font-size: medium; margin: 2rem auto;">We value your feedback and are committed to providing
    you with the best
    possible
    experience. Please feel free
    to
    contact us using the information above, or use the contact form on our website to send us a message
    directly.
    Thank you for choosing us as your healthcare provider. We look forward to serving you.</p>
</div>

</body>
</html>