<div class="popup">
  <div class="popupcont">
    <h1 id="pophead">Upload new document.</h1>
    <span class="close">&times;</span>
    <form>
      <label for="name">File name:</label><br />
      <input type="text" name="filename" id="filename" placeholder="Enter file name" /><br />
      <label for="desccription">Enter Desccription:</label><br />
      <input type="textarea" name="description" id="description" placeholder="Enter description" />
      <h2>Choose a file:</h2>
      <input accept=".jpg" type="file" name="file" id="file" />
      <button class="subbtn" type="submit">Submit</button>
    </form>
  </div>
</div>