<h1 class="login-head">
    Forgot password.
</h1>
<form class="mainform" [formGroup]="formGroup" (submit)="handleForgetMailSent($event)">
    <div class="maincont1">
        <span class="span0"><p>Email address</p></span>
        <span class="span1"><i class="far fa-user"></i></span><span class="span2">
        <input class="mailnum" type="email" formControlName="email" name="email" placeholder="example@xyz.com"></span>
    </div>
    <a class="left">Check your Email for further process...</a>
    <button type="submit">NEXT</button>
</form>

