.fieldContainer {
  margin: 1.2rem 0 1rem 0;
  div:first-child {
    margin: 0;
  }
  div:nth-child(2) {
    width: 100%;
    font-size: small;
    padding: 0 20px;
    margin-top: 4px;
    color: rgba($color: #ff0000, $alpha: 0.7);
    user-select: none;
  }
}
.maincont {
  background-color: #ecf0f3;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 10px 1px #cbced1 inset,
    -10px -10px 10px 1px rgba(255, 255, 255, 0.699) inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 50px;
  padding: 0 20px;
  border: 2px solid black;
  position: relative;
  margin: 1.2rem 0 1rem 0;

  & div {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    border-radius: inherit;
    transition: 0.5s all ease-in;
  }

  & input:focus ~ & + div {
    border: 2px solid blue;
  }

  ion-icon,
  i {
    position: absolute;
  }
}

.span3 {
  z-index: 1;
  transition: 0.2s ease-in-out;
  position: absolute;
  right: 32px;
  top: calc(50% - 9px);
}

input {
  height: 100%;
  background: none;
  border: none;
  outline: none;
  flex-grow: 2;
  z-index: 1;
  font-size: 13px;
  color: #424242;
  font-weight: 500;
  padding-left: 24px;
}

label.span0 {
  background-color: #ecf0f3;
  box-shadow: 0 -5px 1px #cbced2 inset;
  position: absolute;
  padding: 0 0.3rem;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  top: -0.6rem;
  left: 30px;
  user-select: none;
}
