// .navbar {
//   padding: 1.5rem 8rem;
//   height: auto;
//   box-shadow: -10px 10px 15px #093637a3;
//   /* background-color: #aecfa4; */
//   /* background:linear-gradient(45deg, #c4ebc2cc 0%, #aecfa4d2 30%, #6bbd99cc 60%, #3b887ebe 90%); */
//   /* background-blend-mode: lighten; */
// }
// .logo {
//   font-family: "Oxanium", cursive;
//   font-size: 1.5rem;
//   font-weight: 600;
//   color: white;
//   position: relative;
//   margin: 0;
//   text-decoration: none;
//   width: 40%;
// }
.navright {
  float: right;
  position: relative;
}
.navbar a {
  font-family: "Oxanium", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 0;
  text-decoration: none;
  width: 50%;
  padding: 0.7rem;
  opacity: 0.8;
  position: relative;
}
.homebutton {
  font-weight: 800 !important;
  /* background: linear-gradient(90deg, #0b1516a8 20%,#c4e8c2 85%); */
  /* background: linear-gradient(45deg, #40513B 00%, #9DC08B 30%, #EDF1D6 50%, #40513B 100%); */
  /* background: linear-gradient(45deg, #77a1d3 0%, #79cbca 50%, #045256bd 100%); */
  /* background:linear-gradient(45deg, #46a094 0%, #6bbd99 35%, #aecfa4 70%, #c4ebc2 100%); */
  background: linear-gradient(45deg, #045256 0%, #0452567e 50%, #0b1516 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link::before {
  transition: 350ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  /* background-color: rgba(0, 0, 0, 0.308); */
}
.nav-link-ltr::before {
  width: 0%;
  bottom: 0.7rem;
}
.nav-link-ltr:hover::before {
  width: 85%;
}
.maincontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.content {
  width: 85vw;
  height: 80vh;
  margin-top: 4rem;
}
.rightcontent {
  float: left;
  width: 55%;
  height: 80vh;
  display: flex;
  align-items: center;
  vertical-align: center;
}
.leftcontent {
  float: right;
  width: 45%;
  height: 80vh;
  display: flex;
  align-items: center;
  vertical-align: center;
}
.leftcontent img {
  width: 100%;
  filter: brightness(90%);
}
.rightcontent h1 {
  font-family: "Oxanium", cursive;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 700;
  /* background: linear-gradient(65deg, #045256bd 10%, #9ab8ba 30%, #77f6fa 50%, #045256 100%); */
  /* background: linear-gradient(65deg, #ddf7f8 10%, #9ab8ba 100%); */
  /* background: linear-gradient(45deg, #40513B 00%, #9DC08B 30%, #EDF1D6 60%, #40513B 100%); */
  /* background: linear-gradient(45deg, #77a1d3 0%, #79cbca 50%, #045256bd 100%); */
  /* background:linear-gradient(45deg, #46a094 0%, #6bbd99 35%, #aecfa4 70%, #c4ebc2 100%); */
  background: linear-gradient(45deg, #045256 0%, #0452568f 50%, #0b1516 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 0;
  position: relative;
  /* color: #40513B; */
  margin-top: 0;
  padding: 0;
}
.rightcontent h3 {
  font-size: 2rem;
  font-weight: lighter;
  color: rgb(245, 245, 245);
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.rightcontent h6 {
  margin: 0.5rem 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  /* color: white; */
  font-size: medium;
  text-align: center;
  font-weight: 300;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
}
.content p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
  display: inline-block;
}
.signlogbtn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.loginbtn {
  font-size: 1.5rem;
  color: white;
  border: 0;
  background: linear-gradient(90deg, #045256 10%, #045256 60%, #0b1516c2 100%);
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  margin-right: 1.5em;
}
.loginbtn:hover {
  /* opacity: 0.9; */
  transition: 350ms;
  background-color: #066b70;
  box-shadow: 5px 5px 10px #066b703f;
  /* transform: translate(-1px,-1px); */
}
.signupbtn {
  font-size: 1.2rem;
  color: #0b1516c2;
  border: 0;
  padding: 0.6em 2em;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 0.1rem solid #0b1516c2;
}
.signupbtn:hover {
  /* opacity: 0.7;
  transition: 350ms; */
  transition: 350ms;
  box-shadow: -5px 5px 10px #066b703f;
  /* transform: translate(1px,-1px); */
}
.wtnContent {
  height: fit-content;
  background-color: rgb(235, 235, 235);
  /* background-color: white; */
  padding: 4.2rem 4.5rem;
  font-size: 1.5rem;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}
.wtnContent span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartbeat {
  font-size: 12rem;
  color: #045256;
  transition: 800ms;
}
.heartbeathover {
  transition: 4500ms;
  /* color:rgb(199, 0, 0); */
  /* color: #e3242b;  */
  color: #a91b0d;
  padding: 0;
}

hr {
  background-color: #045256;
  border: 0;
  height: 1.2vh;
  opacity: 1;
  margin: 0;
}

.waves {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 3rem;
  max-height: 150px;
}
.waves1 {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 3rem;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
footer {
  /* background:linear-gradient(45deg, #c4ebc2 0%, #aecfa4 30%, #6bbd99 60%, #3b887e 90%); */
  background-color: rgb(235, 235, 235);
}
.footercontent {
  background-color: #6bbd99;
  /* height: 15vh; */
  padding: 1rem;
  font-size: 1.4rem;
}
#footer {
  text-align: center;
}
.ddark {
  color: rgb(235, 235, 235);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  vertical-align: center;
  /* align-items: center; */
  text-decoration: none;
  transition: 250ms;
}
.ddark1 {
  color: rgb(235, 235, 235);
  text-decoration: none;
  padding: 0.5rem;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  transition: 250ms;
}
.ddark1:hover {
  color: #2f776d;
  font-weight: 600;
  transition: 250ms;
}
.upcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
}
.darkcontainer {
  border-radius: 2.5rem;
  margin: 0 1.5rem;
  transition: 250ms;
}
.darkcontainer:hover {
  box-shadow: 2px 2px 10px #3b887e, -2px -2px 10px #2f776d;
  transition: 250ms;
}
.ddark:hover {
  color: #2f776d;
  transition: 250ms;
}
