<div class="shape1"></div>
<div class="shape2"></div>
<div class="shape3"></div>

<div class="box1"></div>
<div class="box2"></div>
<div class="box3"></div>

<uni-atp></uni-atp>
<div class="maincontent">
  <div class="content">
    <div class="leftcontent">
      <img src="/assets/img2.png" alt="doctorillustration">
    </div>
    <div class="rightcontent">
      <div class="centerdiv">
        <h1>Your Wellness</h1>
        <h3>Welcomes you!</h3>
        <h6>"Empowering your health journey with cutting-edge technology."</h6>
        <div class="signlogbtn">
          <a href="/auth/login"><button class="loginbtn">Login</button></a>
          <a href="/auth/signup"><button class="signupbtn">Sign Up</button></a>
        </div>
      </div>
    </div>
  </div>

</div>
<hr>
<!-- <svg class="waves1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="#3b887e" />
            <use xlink:href="#gentle-wave" x="45" y="3" fill="rgb(235, 235, 235)" />
        </g>
    </svg> -->

<div class="wtnContent">

  <span class="heartbeat"><i class="fa-sharp fa-solid fa-heart-pulse"></i></span>

  <p>Welcome to Your Wellness, where we provide compassionate and high-quality healthcare services to individuals and
    families. We understand that your health is your most valuable asset, and our mission is to help you achieve optimal
    health and wellness. Our Services: We offer a wide range of healthcare services to meet your needs. Some of our
    services include: setting appointments online, securing your documents online for future use, providing best doctors
    according to your health conditions & many more...</p>
</div>
<footer id="footer">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="45" y="0" fill="#3b887e" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#6bbd99" />
    </g>
  </svg>
  <div class="footercontent">
    <div class="upcontainer">
      <div class="darkcontainer"><a class="ddark" href="http://www.twitter.com" target="_blank"
          rel="noopener noreferrer">
          <i class="sociallogo fa-brands fa-twitter"></i>
        </a></div>
      <div class="darkcontainer"><a class="ddark" href="http://www.instagram.com" target="_blank"
          rel="noopener noreferrer">
          <i class="sociallogo fa-brands fa-instagram"></i>
        </a></div>
      <div class="darkcontainer"><a class="ddark" href="http://www.mailto.com" target="_blank"
          rel="noopener noreferrer">
          <i class="sociallogo fa-solid fa-envelope"></i>
        </a></div>
    </div>
    <br>
    <div class="downcontainer">
      <a class="ddark1" href="">About</a>
      <a class="ddark1" href="">Contact Us</a>
      <a class="ddark1" href="">Company</a>
    </div>
  </div>

</footer>