<!-- <div class="positionstatic"> -->

<!-- </div> -->
<div class="topcontent">

    <div class="stick">
        <div class="sidepannel">
            <div class="hamlogo">
                <i class="icon fa-solid fa-bars"></i>
            </div>

            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="homepage.html"><i class="icon fa-solid fa-house"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="profilepage.html"><i class="icon fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="documentPage.html"><i class="icon fa-solid fa-file"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="hospitalPage.html"><i class="icon fa-solid fa-hospital"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="AppointmentPage.html"><i class="icon fa-solid fa-calendar-check"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="settingPage.html"><i class="icon fa-solid fa-gear"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="aboutPage.html"><i class="icon fa-solid fa-circle-info"></i></a>
                </div>
            </div>
        </div>
        <div class="sidepanelextended hmb">
            <div class="sidepannel2">
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="homepage.html">
                            <h3>Home</h3>
                        </a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="Profilepage.html">
                            <h3>Profile</h3>
                        </a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="DocumentPage.html">
                            <h3>Documents</h3>
                        </a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="hospitalpage.html">
                            <h3>Hospitals</h3>
                        </a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="appointmentpage.html">
                            <h3>Appointment</h3>
                        </a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="settingPage.html">
                            <h3>Setting</h3>
                        </a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="aboutPage.html">
                            <h3>About</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="content">
        <div class="userimage">
            <img src="/assets/profile.png" alt="">
        </div>

        <h1>Your Profile, Abhishek</h1>
        <p id="p">This dashboard is wholeheartedly designed to manage almost everything about you health. </p>

        <div class="mainsec">
            <div class="firstsec">
                <label for="name">Name</label><br>
                <input placeholder="Enter name" type="text" name="name" id="name">
            </div>
            <div class="secondsec">
                <label for="id">Patient ID</label><br>
                <input placeholder="Enter patient ID" type="text" name="patientid" id="patientid">
            </div>
        </div>

        <div class="mainsec">
            <div class="fullsec">
                <label for="Bio">Bio</label><br>
                <input placeholder="Enter Bio" type="textarea" name="Bio" id="Bio">
            </div>
        </div>

        <div class="mainsec">
            <div class="firstsec">
                <label for="Contact">Contact</label><br>
                <input accept="number" placeholder="Enter Contact" type="text" name="Contact" id="Contact">
            </div>
            <div class="secondsec">
                <label for="EmailID">Email ID</label><br>
                <input placeholder="Enter Email ID" type="text" name="mailid" id="mailid">
            </div>
        </div>
        <div class="mainsec">
            <div class="firstsec">
                <!-- <label for="bldgrp">Blood Group</label><br>
            <input type="radio" name="bldgrp" id="bldgrp">A
            <input type="radio" name="bldgrp" id="bldgrp">B
            <input type="radio" name="bldgrp" id="bldgrp">AB
            <input type="radio" name="bldgrp" id="bldgrp">O -->
                <label style="width: 100%; margin-bottom:1rem; float:left" for="bldgrp">Blood Group</label><br>
                <label class="container">A
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">B
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">AB
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">O
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="secondsec">
                <label style="width: 100%; margin-bottom:1rem; float:left" for="bldgrp">Blood Group</label><br>
                <label class="container">Male
                    <input type="radio" checked="checked" name="radio1">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Female
                    <input type="radio" name="radio1">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>




    </div>







    <div class="footer">
        <div class="leftcontent">
            <div class="upper">
                <a href="" class="logo"><i class="fa-solid fa-heart-pulse"></i> Your Wellness</a>
            </div>
            <div class="upcontainer">
                <div class="darkcontainer"><a class="ddark" href="http://www.twitter.com" target="_blank"
                        rel="noopener noreferrer">
                        <i class="sociallogo fa-brands fa-twitter"></i>
                    </a></div>
                <div class="darkcontainer"><a class="ddark" href="http://www.instagram.com" target="_blank"
                        rel="noopener noreferrer">
                        <i class="sociallogo fa-brands fa-instagram"></i>
                    </a></div>
                <div class="darkcontainer"><a class="ddark" href="http://www.mailto.com" target="_blank"
                        rel="noopener noreferrer">
                        <i class="sociallogo fa-solid fa-envelope"></i>
                    </a></div>
            </div>
        </div>
        <div class="rightcontent">
            <a class="ddark1" href="">About</a>
            <a class="ddark1" href="">Contact Us</a>
            <a class="ddark1" href="">Company</a>
        </div>
    </div>