<div class="content" *ngIf="paitentProfile$ | async as patient">
    <uni-loading *ngIf="!patient"></uni-loading>
    <div>
        <div class="userimage">
            <img src="/assets/profile.png" alt="" />
        </div>

        <h1>Your Profile, {{ patient.fName + " " + patient.lName}} </h1>
        <p id="p">
            This dashboard is wholeheartedly designed to manage almost everything about
            you health.
        </p>
    </div>
    <div class="mainsec">
        <div class="firstsec">
            <label for="name">Name</label><br />
            <input placeholder="Enter name" type="text" name="name" id="name" />
        </div>
        <div class="secondsec">
            <label for="id">Patient ID</label><br />
            <input placeholder="Enter patient ID" type="text" name="patientid" id="patientid" />
        </div>
    </div>
    <div>
        Uni ID: {{patient.handle}}
    </div>
    <div class="mainsec">
        <div class="fullsec">
            <label for="Bio">Bio</label><br />
            <input placeholder="Enter Bio" type="textarea" name="Bio" id="Bio" />
        </div>
    </div>

    <div class="mainsec">
        <div class="firstsec">
            <label for="Contact">Contact</label><br />
            <input accept="number" placeholder="Enter Contact" type="text" name="Contact" id="Contact" />
        </div>
        <div class="secondsec">
            <label for="EmailID">Email ID</label><br />
            <input placeholder="Enter Email ID" type="text" name="mailid" id="mailid" />
        </div>
    </div>
    <div class="mainsec">
        <div class="firstsec">
            <!-- <label for="bldgrp">Blood Group</label><br>
            <input type="radio" name="bldgrp" id="bldgrp">A
            <input type="radio" name="bldgrp" id="bldgrp">B
            <input type="radio" name="bldgrp" id="bldgrp">AB
            <input type="radio" name="bldgrp" id="bldgrp">O -->
            <label style="width: 100%; margin-bottom: 1rem; float: left" for="bldgrp">Blood Group</label><br />
            <label class="container">A
                <input type="radio" checked="checked" name="bloodGroup" />
                <span class="checkmark"></span>
            </label>
            <label class="container">B
                <input type="radio" name="bloodGroup" />
                <span class="checkmark"></span>
            </label>
            <label class="container">AB
                <input type="radio" name="bloodGroup" />
                <span class="checkmark"></span>
            </label>
            <label class="container">O
                <input type="radio" name="bloodGroup" />
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="secondsec">
            <label style="width: 100%; margin-bottom: 1rem; float: left" for="bldgrp">Blood Group</label><br />
            <label class="container">Male
                <input type="radio" checked="checked" name="radio1" />
                <span class="checkmark"></span>
            </label>
            <label class="container">Female
                <input type="radio" name="radio1" />
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>