<h1 class="login-head">Register yourself.</h1>
<form [formGroup]="signupForm" (submit)="handleRegistration($event)" class="mainform">
  <div>
    <div class="maincont">
      <div></div>
      <label class="span0" for="email">
        Email address
      </label>
      <i class="far fa-user"></i>
      <input hovered class="mailnum" type="email" autocomplete="username, email" formControlName="email" name="email"
        id="email" placeholder="example@xyz.com" />
    </div>
    <div *ngIf="email?.invalid && email?.pristine">
      Email Already Exists
    </div>
    <div *ngIf="email?.pending">
      Waiting for response
    </div>
  </div>

  <div class="maincont">
    <div></div>
    <label class="span0" for="mob">
      Contact number
    </label>
    <i class="far fa-user"></i>
    <input hovered class="mailnum" type="text" autocomplete="mobile" formControlName="contact" name="number" id="mob"
      placeholder="+91-1254875645" />
  </div>

  <div class="maincont" *ngFor="let field of passInputFields; let i = index">
    <div></div>
    <label class="span0" for="pas-{{i}}">
      {{field.title}}
    </label>
    <i class="fas fa-key"></i>
    <input hovered [type]="field.fieldType" formControlName="{{field.title|lowercase}}" autocomplete="new-password"
      id="pas-{{i}}" placeholder="238#7br83@2r5!4" />
    <span class="span3" (click)="hide(i)">
      <i [class]="field.classList" aria-hidden="true"></i>
    </span>
  </div>

  <div class="btn-container">
    <label class="switch btn-color-mode-switch">
      <input hovered type="checkbox" formControlName="userType" id="color_mode" (change)="userTypeChange($event)" />
      <label for="color_mode" data-on="Doctor" data-off="Individual" class="btn-color-mode-switch-inner"></label>
    </label>
  </div>
  <button type="submit" [disabled]="signupForm.invalid">REGISTER</button>

</form>
<div style="text-align: center;">
  <a routerLink="/auth/login">Already have an account?</a>
</div>