div.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0 0 0.7rem;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  width: 160px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 80px;
  height: 16px;
  background: #ecf0f3;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 60px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background: #045256;
  color: rgba(255, 255, 255, 0.788);
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 77px;
  background: #067075;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.span3 {
  z-index: 1;
}

/*mode preview*/
// .dark-preview {
//   background: #0d0d0d;
// }

// .dark-preview div.btn-container i.fa-sun-o {
//   color: #777;
// }

// .dark-preview div.btn-container i.fa-moon-o {
//   color: #fff;
//   text-shadow: 0px 0px 11px #fff;
// }

// .white-preview {
//   background: #fff;
// }

// .white-preview div.btn-container i.fa-sun-o {
//   color: #ffa500;
//   text-shadow: 0px 0px 16px #ffa500;
// }

// .white-preview div.btn-container i.fa-moon-o {
//   color: #777;
// }

// p.by a {
//   text-decoration: none;
//   color: #000;
// }

// .dark-preview p.by a {
//   color: #777;
// }

// .white-preview p.by a {
//   color: #000;
// }
