.dashboard-container {
  width: 100%;
  height: 100vh;
  min-height: 768px;
  background: var(--primary-color);
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "sidebar content";
  grid-template-rows: 60px auto;
  grid-template-columns: 60px calc(100% - 60px);
  gap: 10px;
}
 
uni-atp {
  grid-area: topbar;
}

utp-sde {
  grid-area: sidebar;
}

.ctn {
  grid-area: content;
  // to make the white content responsive
  // max-width: 1200px;
  padding: 1rem 1.5rem;
  margin: 60px 60px;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

@media screen and (width < 535px){
  .ctn{
    margin: 1rem;
    margin-bottom: 1rem !important;
    padding: 0;
    height: auto;
    position: absolute;
    left:0;
    top: 65px;
    right:0;
  }
  .dashboard-container{
    grid-template-columns: 60px calc(100% - 80px);
  }
} 