// Here are all css styles of all dashboard pages

/* common navbar styles */
.dashboard-container {
    // display: grid;
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(225deg, rgba(195, 235, 193, 0.656) 0%, rgba(107, 189, 153, 0.501) 100%);
}