

<!-- <div class="positionstatic"> -->
   
<!-- </div> -->

<div class="topcontent">

    <div class="stick">
        <div class="sidepannel">
            <div class="hamlogo">
                <i class="icon fa-solid fa-bars"></i>
            </div>

            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="homepage.html"><i class="icon fa-solid fa-house"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="profilepage.html"><i class="icon fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="documentPage.html"><i class="icon fa-solid fa-file"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="hospitalPage.html"><i class="icon fa-solid fa-hospital"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="AppointmentPage.html"><i class="icon fa-solid fa-calendar-check"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="settingPage.html"><i class="icon fa-solid fa-gear"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="aboutPage.html"><i class="icon fa-solid fa-circle-info"></i></a>
                </div>
            </div>
        </div>
        <div class="sidepanelextended hmb">
            <div class="sidepannel2">
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="homepage.html"><h3>Home</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="Profilepage.html"><h3>Profile</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="DocumentPage.html"><h3>Documents</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="hospitalpage.html"><h3>Hospitals</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="appointmentpage.html"><h3>Appointment</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="settingPage.html"><h3>Setting</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="aboutPage.html"><h3>About</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="userimage">
            <img src="material/images/profile.png" alt="">
        </div>
        <h1>Welcome, Abhishek Mourya</h1>
        <p>This dashboard is wholeheartedly designed to manage almost everything about you health. </p>
        <div class="boxmain">
            <h1>Future Appointments.</h1>
            <div class="doctor1">
                <img class="doctorleft" src="material/images/doctor1.jpg" alt="">
                <h2>Dr. Neelima Deshmukh</h2>
                <h5>Manak Hospital Indore ~ 7 april </h5>
            </div>
            <hr style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
            <div class="doctor2">
                <img class="doctorleft" src="material/images/doctor2.png" alt="">
                <h2>Dr. Kushagra Jain</h2>
                <h5>MY Hospital Indore ~ 16 april</h5>
            </div>
            <div class="blurbox"></div>
        </div>
        <div class="boxmain2">
            <h1>Tips Related to Current Medical Conditions.</h1>
            <ul>
                <li>Monitor your blood sugar levels regularly</li>
                <li>Maintain a healthy diet</li>
                <li>Get regular exercise</li>
                <li>Take medications as prescribed</li>
                <li>Manage stress & Stay hydrated</li>
                <li>Monitor feet</li>
                <li>Manage stress</li>
                <li>Get regular check-ups</li>
            </ul>
            <div class="blurbox"></div>
        </div>
        <div class="boxmain3">
            <h1>Profile alert.</h1>

            <div class="blurbox"></div>
        </div>
        <div class="boxmain4">
            <h1>Emergency Notification</h1>

            <div class="blurbox"></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="leftcontent">
        <div class="upper">
            <a href="" class="logo"><i class="fa-solid fa-heart-pulse"></i> Your Wellness</a>
        </div>
        <div class="upcontainer">
            <div class="darkcontainer"><a class="ddark" href="http://www.twitter.com" target="_blank"
                    rel="noopener noreferrer">
                    <i class="sociallogo fa-brands fa-twitter"></i>
                </a></div>
            <div class="darkcontainer"><a class="ddark" href="http://www.instagram.com" target="_blank"
                    rel="noopener noreferrer">
                    <i class="sociallogo fa-brands fa-instagram"></i>
                </a></div>
            <div class="darkcontainer"><a class="ddark" href="http://www.mailto.com" target="_blank"
                    rel="noopener noreferrer">
                    <i class="sociallogo fa-solid fa-envelope"></i>
                </a></div>
        </div>
    </div>
    <div class="rightcontent">
        <a class="ddark1" href="">About</a>
        <a class="ddark1" href="">Contact Us</a>
        <a class="ddark1" href="">Company</a>
    </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundlemin.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q42Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <script src="index.js"></script>
