.authContainer {
  width: 100%;
  height: 100vh;
  background: var(--shadow-color);
  display: flex;
  justify-content: center;
  position: relative;

  .design {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 25px 30vw var(--shadow-color-secondary);
    background: var(--shadow-color-secondary);
    z-index: -1;
  }
  .design1 {
    top: 30%;
    left: 20%;
  }

  .design2 {
    bottom: 30%;
    right: 20%;
  }
}

#content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: clamp(300px, 90%, 400px);
}

.glass {
  min-height: 500px;
  width: 100%;
  background-color: #ecf0f3;
  margin-top: 100px;
  padding: 1.5rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 20px 20px 20px #cbced1,
    -20px -20px 20px rgba(255, 255, 255, 0.699);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.4s all ease-in-out;

  div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s all ease-in-out;

    &:first-child {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo0 {
        font-family: var(--logo-font-family);
        font-size: 1.8rem;
        font-weight: 700;
        color: rgb(44, 148, 212);
        position: relative;
        margin: 0;
        text-decoration: none;
        width: 40%;
        span {
          color: #da8049;
        }
      }
    }
  }
}
