
.navbar {
    display: flex;
    /* justify-content: center; */
    /* position: relative; */
    position: fixed;
    top: 0;
    align-items: center;
    height: 10vh;
    width: 100vw;
    box-shadow: -10px 10px 15px #093637a3;
    background: linear-gradient(45deg, #c4ebc2 0%, #aecfa4 15%, #6bbd99 40%, #3b887e 90%);
    opacity: 0.95;
    z-index: 0;
    /* background-color: #aecfa4; */
    /* background:linear-gradient(45deg, #c4ebc2cc 0%, #aecfa4d2 30%, #6bbd99cc 60%, #3b887ebe 90%); */
}

.navright {
    position: absolute;
    right: 0;
    margin-right: 8rem;
    /* float: right; */
    /* position: relative; */
    display: flex;
}

.navleft {
    margin-left: 8rem;
    position: absolute;
    left: 0;
    /* float: left; */
    /* position: relative; */
    /* display: flex; */
}

.logo0 {
    font-family: 'Oxanium', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    position: relative;
    margin: 0;
    text-decoration: none;
    width: 40%;
}

.homebutton {
    font-weight: 800 !important;
    /* background: linear-gradient(90deg, #0b1516a8 20%,#c4e8c2 85%); */
    /* background: linear-gradient(45deg, #40513B 00%, #9DC08B 30%, #EDF1D6 50%, #40513B 100%); */
    /* background: linear-gradient(45deg, #77a1d3 0%, #79cbca 50%, #045256bd 100%); */
    /* background:linear-gradient(45deg, #46a094 0%, #6bbd99 35%, #aecfa4 70%, #c4ebc2 100%); */
    background: linear-gradient(45deg, #045256 0%, #0452567e 50%, #0b1516 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

button {
    font-size: 1.3rem;
    color: white;
    border: 0;
    background: linear-gradient(90deg, #045256 10%, #045256 60%, #0b1516c2 100%);
    padding: 0.6rem 2rem;
    width: 100%;
    font-weight: 100;
    border-radius: 1.5rem;
    letter-spacing: 4px;
    margin-left: 1.5rem;
}

/* .sidepannel{
      float: left;
      position: fixed;
      background-color: #04525681;
      width: 5vw;
      height: 100vh;
    } */
.topcontent {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    text-align: center;
    /* background-color: rgba(240, 248, 255, 0.155); */
    padding: 10vw 10vw 10vw 15vw;
    z-index: -1;
}

.content {
    background-color: #04525628;
    margin-top: 3rem;
    position: relative;
    z-index: -3;
    border-radius: 1.5rem;
    border: 3px solid transparent;
    box-shadow: 5px 5px 25px #04525693, -5px 0px 25px #04525693;
    /* padding: 6rem; */
    padding-bottom: 10rem;
    margin: 3rem;
}

.blurcontent {
    filter: blur(5px);
    transition: 400ms;
}

.userimage {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.userimage img {
    height: 7rem;
    border-radius: 500px;
    border: 1px black solid;
}

.topcontent h1 {
    font-weight: 500;
    font-size: 2.2rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

/* .topcontent input{
      float: left;
      margin-right: 1.5rem;
      padding: 1rem 10% 1rem 1rem;
      border-radius: 0.7rem;
      border: 1px solid #045256;
    } */
#p {
    margin-bottom: 5rem;
    color: #333;
}

.hamlogo {
    border: transparent solid 4px;
    border-radius: 50px;
    padding: .5rem 0.7rem;
    margin-top: 0.5rem;
    margin: 0.5rem;
    /* margin-bottom: 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.box {
    width: 100%;
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1.8rem; */
    margin-bottom: 4.5vh;
}

.circle {
    /* background-color: rgba(51, 51, 51, 0.781); */
    border: #333 solid 4px;
    border-radius: 5rem;
    padding: .55rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    background-color: rgba(82, 27, 27, 0.212);
}

.same1:hover {
    background-color: rgb(170, 55, 55);
}

.icon {
    color: #333;
    font-size: 1rem;
    margin: 0 !important;
}

.stick {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90%;
    width: 18vw;
}

.sidepannel {
    float: left;
    position: absolute;
    background-color: rgb(235, 235, 235);
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 15px black;
    /* outline: 2px solid black; */
    border-top-right-radius: .8rem;
    z-index: 4 !important;
}

.sidepanelextended {
    position: absolute;
    background-color: rgb(235, 235, 235);
    border-radius: 1.7rem;
    width: 20vw;
    height: 100vh;
    /* outline: 2px solid black; */
    top: 0;
    left: 0;
    box-shadow: 0px 3px 15px black;
    padding: 0.3rem 1rem 0.3rem 1rem;
    transition: 400ms ease-in-out;
    z-index: 3;
}

.hmb {
    opacity: 0.3;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hamlogo1 {
    float: right;
    border: transparent solid 4px;
    border-radius: 50px;
    padding: .5rem 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidepannel1 {
    position: absolute;
    background-color: rgb(225, 225, 225);
    height: 88vh;
    top: 12vh;
    display: none;
}

.sidepannel2 {
    /* background-color: rgb(214, 83, 83); */
    height: 80%;
    width: 75%;
    float: right;
    /* position: absolute; */
    margin-top: 5rem;
    top: 12vh;
    right: 1.3rem;
}

.box1 {
    width: 100%;
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1.8rem; */
    margin-bottom: 4.5vh;
}

.circle1 {
    /* background-color: rgba(51, 51, 51, 0.781); */
    border: #333 solid 4px;
    border-radius: 5rem;
    padding: .40rem;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1 h3 {
    font-size: 1rem;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.circle1 a {
    text-decoration: none;
    color: black;
}

.circle1:hover {
    background-color: rgba(51, 51, 51, 0.212);
}

.activated {
    background-color: #c4ebc2;
}

.footer {
    background-color: #285b54f3;
    box-shadow: 0px 0px 25px #285b54f3;
    height: 12rem;
    width: 100%;
    position: absolute;
    bottom: -150px;
    z-index: -2;
    left: 0;
}

html {
    position: relative;
    z-index: -5;
}

.leftcontent {
    float: left;
    padding-top: 4rem;
    width: 55%;
}

.rightcontent {
    float: right;
    width: 38%;
    padding-top: 5rem;
}

.logo {
    font-family: 'Oxanium', cursive;
    font-size: 2rem;
    font-weight: 600;
    color: #6bbd99;
    text-decoration: none;
    width: 40%;
    transition: 250ms;
}

.logo:hover {
    /* text-shadow: 0px 0px 25px #2f776d; */
    color: #2f776d;
    transition: 250ms;
}

.upcontainer {
    display: flex;
    margin-left: 40%;
}

.darkcontainer {
    border-radius: 2.5rem;
    margin: 0.5rem 0.5rem;
    transition: 250ms;
}

.darkcontainer:hover {
    box-shadow: 2px 2px 10px #333, -2px -2px 10px #333;
    transition: 250ms;
}

.ddark:hover {
    color: #2f776d;
    transition: 250ms;
}

.ddark {
    transition: 250ms;
    font-size: 1.3rem;
    color: #6bbd99;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    vertical-align: center;
    /* align-items: center; */
    text-decoration: none;
}

.ddark0 {
    transition: 250ms;
    font-size: 1.3rem;
    color: rgb(235, 235, 235);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    vertical-align: center;
    /* align-items: center; */
    text-decoration: none;
}

.ddark0:hover {
    color: #2f776d;
    background-color: rgb(235, 235, 235);
    border-radius: 5rem;
}

.ddark1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #6bbd99;
    text-decoration: none;
    padding: 0.5rem;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transition: 250ms;
}

.ddark1:hover {
    color: #2f776d;
    font-weight: 600;
    transition: 250ms;
}





/* Base CSS ends here... */

.mainsec{
    display: flex;
    padding: 0 7rem;
    margin: 1rem 0;
}
.firstsec{
    margin: 0 auto 0 0;
}
.secondsec{
    margin: 0 0 0 auto;
}
.fullsec{
    margin: 0 auto;
    width: 100%;
}
label {
  font-size: 1.5rem;
  /* margin-left: .7rem; */
  float: left;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.7);
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: 250ms;
  margin-top: 0.5rem;
}
input[type=text] {
  padding: 0.8rem 2rem .8rem 0.8rem;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  border: 0;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
}
input[type=text]:focus{
  outline: 0;
  border: 0;
}
input[type=textarea] {
    box-sizing: border-box;
    padding: 0.8rem 6rem .8rem 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    border: 0;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
  }
  input[type=textarea]:focus{
    outline: 0;
    border: 0;
  }
  input[type=number] {
    box-sizing: border-box;
    padding: 0.8rem 6rem .8rem 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    border: 0;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
  }
  input[type=number]:focus{
    outline: 0;
    border: 0;
  }
   /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 1.2rem;

  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #3b887e
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  } 