<div class="navbar">
  <div class="navleft">
    <a style="color: rgba(255, 255, 255, 0.9);" href="" class="logo0">Your Wellness</a>
  </div>
  <div class="navright">
    <div class="darkcontainer"><a class="ddark0" href="http://www.mailto.com" target="_blank" rel="noopener noreferrer">
        <i class="sociallogo fa-solid fa-house"></i>
      </a></div>
    <div class="darkcontainer"><a class="ddark0" href="http://www.mailto.com" target="_blank" rel="noopener noreferrer">
        <i class="sociallogo fa-solid fa-user"></i>
      </a></div>
    <div class="darkcontainer"><a class="ddark0" href="http://www.mailto.com" target="_blank" rel="noopener noreferrer">
        <i class="sociallogo fa-solid fa-gear"></i>
      </a></div>
  </div>
</div>

<div class="docImg">
  <img src="/assets/404_error_final.png" alt="">
</div>
<div class="heading1">
  <h1>"Oops! It seems we're not in your medical records. Let's try again."</h1>
  <h2>sorry, we can't find the page you are looking for.</h2>
  <p id="p"><span>Status: </span>404</p>
  <p id="p2"><span>Message: </span>Not found!</p>
</div>