<!-- <div class="positionstatic"> -->

<!-- </div> --> 
<div class="topcontent">

    <div class="stick">
        <div class="sidepannel">
            <div class="hamlogo">
                <i class="icon fa-solid fa-bars"></i>
            </div>

            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="homepage.html"><i class="icon fa-solid fa-house"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="profilepage.html"><i class="icon fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="documentPage.html"><i class="icon fa-solid fa-file"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="hospitalPage.html"><i class="icon fa-solid fa-hospital"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="AppointmentPage.html"><i class="icon fa-solid fa-calendar-check"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="settingPage.html"><i class="icon fa-solid fa-gear"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="circle">
                    <a class="linkNoDec" href="aboutPage.html"><i class="icon fa-solid fa-circle-info"></i></a>
                </div>
            </div>
        </div>
        <div class="sidepanelextended hmb">
            <div class="sidepannel2">
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="homepage.html"><h3>Home</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="Profilepage.html"><h3>Profile</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="DocumentPage.html"><h3>Documents</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="hospitalpage.html"><h3>Hospitals</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="appointmentpage.html"><h3>Appointment</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="settingPage.html"><h3>Setting</h3></a>
                    </div>
                </div>
                <div class="box1">
                    <div class="circle1">
                        <a style="padding: 0.8rem 2rem;" href="aboutPage.html"><h3>About</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="userimage">
            <img src="material/images/profile.png" alt="">
        </div>

        <h1>Set Appointments, Abhishek</h1>
        <p id="p">This dashboard is wholeheartedly designed to manage almost everything about you health. </p>

    <div class="searchCont">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="search" id="search" placeholder="Search...">
    </div>

    <!-- <div class="container1">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="form">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" placeholder="Search anything...">
                    <span class="left-pan"><i class="fa fa-microphone"></i></span>
                </div>
            </div>
        </div>
    </div> -->

        <h1 style="margin: 5rem 0 3rem 10rem ; text-align: left; font-size: 2rem; text-decoration: none;">Nearby doctors </h1>

        
        <div class="hosInfo">
            <img src="material/images/dr neelima deshmukh.jpg" alt="">
            <div class="hosDetail">
                <h2>Dr. Neelima Deshmukh</h2><br>
                <h3>Specialist - Mental health</h3>
                <h3>Distance - 4 km</h3>
                <div id="btn" class="addmore">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="hosInfo">
            <img src="material/images/dr kushagra jain.jpg" alt="">
            <div class="hosDetail">
                <h2>Dr. Kushagra Jain
                </h2><br>
                <h3>Specialist - Eye surgeon</h3>
                <h3>Distance - 7 km</h3>
                <div id="btn" class="addmore">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    
        <h1 style="margin: 5rem 0 5rem 10rem ; text-align: left; font-weight: 600; font-size: 2.2rem;">Doctors you've previously visited...</h1>
        <div class="hosInfo">
            <img src="material/images/Dr_Ashok-Bajpai-Internal-Medicine.jpg" alt="">
            <div class="hosDetail">
                <h2>Dr. Ashok Bhajpai</h2><br>
                <h3>Visited in reference for diabetes</h3>
                <h3>Dated - 8 feb 2023</h3>
                <div id="btn" class="addmore">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="hosInfo">
            <img src="material/images/dr ashutosh singh.jpg" alt="">
            <div class="hosDetail">
                <h2>Dr. Ashutosh Singh</h2><br>
                <h3>Visited in reference for Typhoid</h3>
                <h3>Dated - 16 dec 2022</h3>
                <div id="btn" class="addmore">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 

Patient's full name
Patient's date of birth
Patient's contact information, such as phone number and email address
Reason for the appointment or chief complaint
Preferred date and time for the appointment
Insurance information, if applicable

-->

<!-- <div class="popup">
<div class="popupcont">
    <h1 id="pophead">Set an appointment.</h1>
    <span class="close">&times;</span>
    <form action="">
        <label for="name">Your name:</label>
        <label style="float:right;" for="dob">Date of birth</label><br>
        <input type="text" name="filename" id="filename" placeholder="Enter your name">
        <input style="float:right;" type="date" name="date" id="date"><br>
        <label for="contact">Contact information:</label><br>
        <input type="text" name="contact" id="contact" placeholder="Phone number">
        <input class="marginleft" type="email" name="mail" id="mail" placeholder="Email address"><br>
        <label for="desccription">Enter Desccription:</label><br>
        <input type="textarea" name="description" id="description" placeholder="Reason for appointment & desease details..."><br>
        <label for="appDate">Appointment date:</label>
        <label for="appTime">Appointment time:</label><br>
        <input type="date" name="date" id="date">
        <input type="time" name="" id=""><br>
        <label for="insurance-toggle">Do you have medical insurance?</label>
        <br><br>
        <label for="false">No</label>
        <input type="checkbox" id="insurance-toggle">
        <label for="true">Yes</label>
        <button class="subbtn" type="submit">Submit</button>
    </form>
</div>
</div> -->

<div class="popup">
<div class="popupcont">
    <h1 id="pophead">Set An Appointment.</h1>
    <!-- <h1 id="pophead">SET AN APPOINTMENT.</h1> -->
    <span class="close">&times;</span>
    <form action="">
        <div class="mainsec">
            <div class="firstsec">
                <label for="name">Your name:</label><br>
                <input type="text" name="filename" id="filename" placeholder="Enter your name">
            </div>    
            <div class="secondsec">
                <label for="dob">Date of birth</label><br>
                <input style="float:right;" type="date" name="date" id="date"><br>
            </div>
        </div>
        <div class="mainsec">
            <div class="firstsec">
                <label for="contact">Phone number:</label><br>
                <input type="text" name="contact" id="contact" placeholder="Phone number">
            </div>    
            <div class="secondsec">
                <label for="contact">Email address:</label><br>
                <input style="margin-left: 0;" class="marginleft" type="email" name="mail" id="mail" placeholder="Email address"><br>
            </div>
        </div>
        <div class="mainsec">
            <div class="fullsec">
                <label for="desccription">Enter desccription:</label><br>
                <input type="textarea" name="description" id="description" placeholder="Reason for appointment & desease details..."><br>
            </div>
        </div>
        <div class="mainsec">
            <div class="firstsec">
                <label for="appDate">Appointment date:</label><br>
                <input type="date" name="date" id="date">
            </div>    
            <div class="secondsec">
                <label for="appTime">Appointment time:</label><br>
                <input style="float:right;" type="time" name="" id=""><br>
            </div>
        </div>
        <div class="mainsec">
            <div class="fullsec">
                <label for="insurance-toggle">Do you have medical insurance?</label>
            <div class="floatright">
                <label for="false">No</label>
                <input type="checkbox" id="insurance-toggle">
                <label for="true">Yes</label>
            </div>
            </div>
        </div>
        <div class="mainsec">
            <div class="fullsec">
                <button class="subbtn" type="submit">Fix appointment!</button>
            </div>
        </div>
    </form>
</div>
</div>

<div class="footer">
<div class="leftcontent">
    <div class="upper">
        <a href="" class="logo"><i class="fa-solid fa-heart-pulse"></i> Your Wellness</a>
    </div>
    <div class="upcontainer">
        <div class="darkcontainer"><a class="ddark" href="http://www.twitter.com" target="_blank"
                rel="noopener noreferrer">
                <i class="sociallogo fa-brands fa-twitter"></i>
            </a></div>
        <div class="darkcontainer"><a class="ddark" href="http://www.instagram.com" target="_blank"
                rel="noopener noreferrer">
                <i class="sociallogo fa-brands fa-instagram"></i>
            </a></div>
        <div class="darkcontainer"><a class="ddark" href="http://www.mailto.com" target="_blank"
                rel="noopener noreferrer">
                <i class="sociallogo fa-solid fa-envelope"></i>
            </a></div>
    </div>
</div>
<div class="rightcontent">
    <a class="ddark1" href="">About</a>
    <a class="ddark1" href="">Contact Us</a>
    <a class="ddark1" href="">Company</a>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundlemin.js"
integrity="sha384-Fy6S3B9q64WdZWQUiU+q42Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
crossorigin="anonymous"></script>
<script src="index.js"></script>
