.content {
  & > div:nth-child(2) {
    display: grid;
    place-items: center;
    gap: 24px;
    margin-top: 2rem;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(clamp(200px, 40vh, 400px), auto);
  }
}
 

.boxmain {
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  background-color: #6aaaad18;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  margin: 0;
  text-align: left;
  overflow: hidden;
  position: relative;
  transition: 150ms;

  &.b1 {
    grid-column: span 3;
  }

  &.b2 {
    grid-column: span 4;
  }

  .np {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 0.8rem;
    h3 {
      opacity: 0.6;
    }
  }
}

.boxmain:hover {
  box-shadow: 0px 2px 10px 2px #33333343;
  transform: translateY(-2px);
  transition: 300ms;
}

.boxmain h1 {
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1.5rem;
  text-decoration: none;
}
.appointments,
.notification {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
      &:hover .apt {
        background: rgba(96, 187, 215, 0.531);
      }
    }
    .apt {
      width: inherit;
      height: inherit;
      display: flex;
      padding-left: 5px;
      border-radius: 5px;
      gap: 10px;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid rgba(100, 148, 237, 0.401);
      transition: 0.2s ease-in;

      .usr-icon {
        height: calc(100% - 12px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        img {
          height: 100%;
        }
      }

      .dtls {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
          font-size: 0.9rem;
          font-weight: 500;
        }
        
        p {
          font-size: 0.75rem;
        }
      }
    }
    
    &.ntfy {
      a {
        .apt {
          padding: 12px;
          span {
            position: absolute;
            top: 6px;
            right: 10px;
            font-size: 0.6rem;
            opacity: 0.8;
          }
        }
      }
    }
    
    &:last-child {
      border: none;
    }
  }
}

.tps {
  margin-left: 1rem;
}

.notification {
  list-style: none;
  margin: 0; 
  padding: 0;
  width: 100%;
  
  li {
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
  }
}

@media screen and (width < 750px) {
  .content {
    & > div:nth-child(2) {
      gap: 24px 0px;
      margin-top: 2rem;
      width: 100%;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (width < 535px){
  .lessmargin{
    margin-top: 1rem !important;
  }
  .boxmain h1{
    font-size: 1rem;
  }
  .boxmain{
    padding: 1rem 1.5rem;
    height: auto;
    
    ul li{
      font-size: .8rem;
    }
  }
  .content {
    & > div:nth-child(2) {
      grid-auto-rows:auto;
    }
  }
}