@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
  width: 100%;
  font-family: "Noto Serif", sans-serif;
  background: linear-gradient(
    45deg,
    #d1d1d1,
    var(--topbar-background),
    #d1d1d1
  );
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 15px 1px var(--box-shadow-color);
  grid-area: topbar;
}

.searchBar {
  width: clamp(200px, 60%, 500px);
}

.navright {
  display: flex;
  gap: 10px;
}

uni-searchbar {
  flex-grow: 2;
  width: 100%;
}

.logo0 {
  font-family: var(--logo-font-family);
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(44, 148, 212);
  position: relative;
  margin: 0;
  margin-right: 1rem;
  text-decoration: none;
  width: 40%;
  span {
    color: #da8049;
  }
}

.darkcontainer {
  border-radius: 2.5rem;
  transition: 250ms;
  position: relative;
}

.ddark0 {
  color: var(--logo-color-2);
  font-size: 1.3rem;
  display: flex;
  width: 40px !important;
  height: 40px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 15px;
  gap: 10px;
  text-decoration: none;
  transition: 500ms;
  // margin-left: 0.5rem;


  &::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    left: 0px;
    border: 1px solid var(--top-nav-bar-border);
    border-radius: 5rem;
    transition: 0.5s;
  }

  &.active {
    width: 120px;
    color: var(--logo-color-1);
    width: 130px;
    justify-content: center;
    &:before {
      width: 100%;
      height: 100%;
    }
  }

  &:hover:before {
    width: 100%;
    height: 100%;
  }
  span { 
    transition: 200ms;
  }

  &:hover {
    color: var(--logo-color-1);
    width: 130px;
    border-radius: 5rem;
  }
} 
.darkcontainer{
  display: none;
}

@media screen and (max-width: 460px) {
  .navbar {
    padding: 0 10px;
  }

  .ddark0 {
    width: 32px;
    height: 36px;
    padding: 0 8px;
    font-size: 1rem;

    &.active {
      width: 100px;
      padding: 0;
    }
  }
}

@media screen and (width < 535px){
  .logo0{
    font-size: 1.5rem;
  }
  .darkcontainer1{
    display: none;
  }
  .darkcontainer{
    display: block;
    margin-left: 1rem;
  }

  .ddark0:hover{
    color: rgb(44, 148, 212) !important;
  }
  .ddark0{
    &::before {
      content: "";
      position: none;
      width: 0%;
      height: 0%;
      left: 0px;
      border: none;
      border-radius: none;
      transition: none;
    }
  
    &.active {
      width: none;
      color: none;
      width: none;
      justify-content: none;

      &:before {
        width: none;
        height: none;
      }
    }
    &:hover:before {
      width: 0;
      height: 0;
    }
    span { 
      transition: none;
    }
    &:hover { 
      color: #da8049;
      width: auto;
      border-radius: auto;
    }
  }
}