#p {
  margin-bottom: 5rem;
  color: #333;
}

.hmb {
  opacity: 0.3;
  width: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// .hamlogo1 {
//   float: right;
//   border: transparent solid 4px;
//   border-radius: 50px;
//   padding: 0.5rem 0.7rem;
//   margin-top: 0.5rem;
//   margin-bottom: 1.5rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .sidepannel1 {
//   position: absolute;
//   background-color: rgb(225, 225, 225);
//   height: 88vh;
//   top: 12vh;
//   display: none;
// }

// .sidepannel2 {
//   /* background-color: rgb(214, 83, 83); */
//   height: 80%;
//   width: 75%;
//   float: right;
//   /* position: absolute; */
//   margin-top: 5rem;
//   top: 12vh;
//   right: 1.3rem;
// }

// .box1 {
//   width: 100%;
//   height: 6.5vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   /* margin-bottom: 1.8rem; */
//   margin-bottom: 4.5vh;
// }

// .circle1 {
//   /* background-color: rgba(51, 51, 51, 0.781); */
//   border: #333 solid 4px;
//   border-radius: 5rem;
//   padding: 0.4rem;
//   width: 80%;
//   height: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .circle1 h3 {
//   font-size: 1rem;
//   font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
//   margin: 0;
// }

// .circle1 a {
//   text-decoration: none;
//   color: black;
// }

// .circle1:hover {
//   background-color: rgba(51, 51, 51, 0.212);
// }

// .activated {
//   background-color: #c4ebc2;
// }

.grid {
  display: flex;
  justify-content: center;
}

.grid0 {
  margin: 5rem;
}

.docimg {
  margin: 2rem;
  margin-bottom: 1rem;
}

.docimg img {
  height: 12rem;
  max-width: 12rem;
  border: 4px solid #333;
  border-radius: 1rem;
}

.docimg p {
  font-size: 1.5rem;
  margin: 0.5rem 2rem;
  text-align: left;
}

// .leftcontent {
//   float: left;
//   padding-top: 4rem;
//   width: 55%;
// }

// .rightcontent {
//   float: right;
//   width: 38%;
//   padding-top: 5rem;
// }

// .logo {
//   font-family: "Oxanium", cursive;
//   font-size: 2rem;
//   font-weight: 600;
//   color: #6bbd99;
//   margin-left: 35%;
//   text-decoration: none;
//   width: 40%;
//   transition: 250ms;
// }

// .logo:hover {
//   /* text-shadow: 0px 0px 25px #2f776d; */
//   color: #2f776d;
//   transition: 250ms;
// }

// .upcontainer {
//   display: flex;
//   margin-left: 40%;
// }

// .ddark:hover {
//   color: #2f776d;
//   transition: 250ms;
// }

// .ddark {
//   transition: 250ms;
//   font-size: 1.3rem;
//   color: #6bbd99;
//   padding: 0.5rem;
//   display: flex;
//   justify-content: center;
//   vertical-align: center;
//   /* align-items: center; */
//   text-decoration: none;
// }

// .ddark1 {
//   font-size: 1.5rem;
//   font-weight: 600;
//   color: #6bbd99;
//   text-decoration: none;
//   padding: 0.5rem;
//   font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
//   text-align: center;
//   transition: 250ms;
// }

// .ddark1:hover {
//   color: #2f776d;
//   font-weight: 600;
//   transition: 250ms;
// }

.addmore {
  position: absolute;
  top: -2rem;
  right: -2rem;
  background-color: #285b54f3;
  font-size: 2.5rem;
  color: #f2f2f2;
  // outline: 12px solid #3b887e;
  border-radius: 3.5rem;
  box-shadow: 0px 0px 25px #3b887e;
  transition: 250ms;
  width: 70px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
  
}

.addmore:hover {
  background-color: #2f776d;
  box-shadow: 0px 0px 25px #00000093;
  transition: 250ms;
  outline: 0;
}

// .popup {
//   display: none;
//   position: fixed;
//   background-color: rgba(51, 51, 51, 0.6);
//   top: 0;
//   height: 100vh;
//   width: 100vw;
//   overflow: auto;
//   background-color: rgba(0, 0, 0, 0.65);
// }

// .popupcont {
//   background: linear-gradient(
//     45deg,
//     #c4ebc2 0%,
//     #aecfa4 15%,
//     #6bbd99 40%,
//     #3b887e 90%
//   );
//   padding: 30px;
//   margin: 15% auto;
//   width: 40vw;
//   border-radius: 1rem;
//   box-shadow: 10px 10px 15px #093637a3, -10px -10px 15px #093637a3;
//   position: relative;
// }

// #pophead {
//   font-size: 2rem;
//   font-weight: 800;
//   color: white;
//   text-shadow: 2px 0 10px black;
//   text-decoration: underline;
//   font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
//   transition: 250ms;
//   margin-top: 0.5rem;
//   margin-left: 0.7rem;
// }

// .close {
//   /* 
//     float: right;
//     font-size: 2rem;
//     position: absolute;
//     top: 0;
//     right: 0;
//     margin-right: 0.5rem;
//     margin-top: .5rem;
//     background-color: #285b54f3;
//     color: #f2f2f2;
//     padding: 0.2rem 0.8rem;
//     border-radius: .8rem;
//     transition: 250ms;
//     */

//   float: right;
//   font-size: 2rem;
//   position: absolute;
//   top: 0;
//   right: 0;
//   margin-right: 0.5rem;
//   margin-top: 0.5rem;
//   background-color: #285b54f3;
//   outline: 2px solid #3b887e;
//   box-shadow: 0px 0px 25px #3b887e;
//   color: #f2f2f2;
//   padding: 0.2rem 0.8rem;
//   border-radius: 0.8rem;
//   transition: 250ms;
// }

// .close:hover {
//   background-color: #2f776d;
//   box-shadow: 0px 0px 25px #00000093;
//   transition: 250ms;
//   outline: 0;
// }

// label {
//   font-size: 1.5rem;
//   margin-left: 0.7rem;
//   font-weight: 600;
//   color: rgb(255, 255, 255);
//   text-shadow: 1px 0 10px rgba(0, 0, 0, 0.7);
//   font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
//   transition: 250ms;
//   margin-top: 0.5rem;
// }

// form h2 {
//   font-size: 1.5rem;
//   font-weight: 600;
//   color: rgb(255, 255, 255);
//   text-shadow: 1px 0 10px rgba(0, 0, 0, 0.7);
//   font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
//   transition: 250ms;
//   margin-top: 0.5rem;
//   margin-left: 0.7rem !important;
//   margin: 0;
// }

// input[type="text"] {
//   padding: 0.8rem 6rem 0.8rem 0.8rem;
//   margin-bottom: 0.8rem;
//   border: 0;
//   border-radius: 1rem;
//   margin-top: 0.3rem;
// }
// input[type="text"]:focus {
//   outline: 0;
//   border: 0;
// }
// input[type="textarea"]:focus {
//   outline: 0;
//   border: 0;
// }

// input[type="textarea"] {
//   padding: 1.8rem 15rem 1.8rem 0.8rem;
//   margin-bottom: 0.8rem;
//   border: 0;
//   border-radius: 1rem;
//   margin-top: 0.3rem;
// }

// input[type="file"] {
//   font-size: 1rem;
//   background-color: #f2f2f2;
//   color: #333;
//   padding: 0.5rem 0 0.5rem 0.8rem;
//   margin-bottom: 0.8rem;
//   border: 0;
//   border-radius: 1rem;
//   margin-top: 0.3rem;
// }

// .subbtn {
//   font-size: 1.3rem;
//   color: #f2f2f2;
//   border: 0;
//   background-color: #285b54f3 !important;
//   background: 0;
//   box-shadow: 0px 0px 25px #3b887e;
//   outline: 2px solid #3b887e;
//   padding: 0.6rem 2rem;
//   width: 100%;
//   font-weight: 100;
//   border-radius: 1.5rem;
//   letter-spacing: 6px;
//   margin-left: 0;
//   margin-top: 1rem;
// }

// .subbtn:hover {
//   background-color: #2f776d;
//   background: 0;
//   box-shadow: 0px 0px 25px #00000093;
//   transition: 250ms;
//   outline: 0;
// }
