<div class="popup">
  <div class="popupcont">
    <h1 id="pophead">Set An Appointment.</h1>
    <!-- <h1 id="pophead">SET AN APPOINTMENT.</h1> -->
    <span class="close">&times;</span>
    <form action="">
      <div class="mainsec">
        <div class="firstsec">
          <label for="name">Your name:</label><br>
          <input type="text" name="filename" id="filename" placeholder="Enter your name">
        </div>
        <div class="secondsec">
          <label for="dob">Date of birth</label><br>
          <input style="float:right;" type="date" name="date" id="date"><br>
        </div>
      </div>
      <div class="mainsec">
        <div class="firstsec">
          <label for="contact">Phone number:</label><br>
          <input type="text" name="contact" id="contact" placeholder="Phone number">
        </div>
        <div class="secondsec">
          <label for="contact">Email address:</label><br>
          <input style="margin-left: 0;" class="marginleft" type="email" name="mail" id="mail"
            placeholder="Email address"><br>
        </div>
      </div>
      <div class="mainsec">
        <div class="fullsec">
          <label for="desccription">Enter desccription:</label><br>
          <input type="textarea" name="description" id="description"
            placeholder="Reason for appointment & desease details..."><br>
        </div>
      </div>
      <div class="mainsec">
        <div class="firstsec">
          <label for="appDate">Appointment date:</label><br>
          <input type="date" name="date" id="date">
        </div>
        <div class="secondsec">
          <label for="appTime">Appointment time:</label><br>
          <input style="float:right;" type="time" name="" id=""><br>
        </div>
      </div>
      <div class="mainsec">
        <div class="fullsec">
          <label for="insurance-toggle">Do you have medical insurance?</label>
          <div class="floatright">
            <label for="false">No</label>
            <input type="checkbox" id="insurance-toggle">
            <label for="true">Yes</label>
          </div>
        </div>
      </div>
      <div class="mainsec">
        <div class="fullsec">
          <button class="subbtn" type="submit">Fix appointment!</button>
        </div>
      </div>
    </form>
  </div>
</div>