<h1 class="login-head">Login</h1>
<form class="mainform" [formGroup]="loginForm" (submit)="login($event)">
    <div class="maincont1">
        <label class="span0">
            <p>Email address or Contact number</p>
        </label>
        <span class="span1"><i class="far fa-user"></i></span>
        <span class="span2">
        <input class="mailnum" type="email" formControlName="email" autocomplete="username, email"
            placeholder="example@xyz.com" /></span>
    </div>

    <div class="maincont2">
        <label class="span0" for="password">
            <p>Password</p>
        </label>
        <span class="span1"><i class="fas fa-key"></i></span><span class="span2">
        <input class="mailnum1"
                  type="password" formControlName="password" autocomplete="password" id="password" placeholder="238#7br83@2r5!4" />
        </span>
        <span class="span3">
          <i class="fa iconpass fa-eye-slash" aria-hidden="true"></i>
        </span>
    </div>
    <button type="submit">LOGIN</button>
    <a class="left" routerLink="/auth/forgot-password">Forgot password?</a>
    <a class="right" routerLink="/auth/signup">Register</a>
</form>
