<div class="navbar">
  <div class="navleft">
    <a style="color: rgba(255, 255, 255, 0.9)" href="" class="logo0">Your Wellness</a>
  </div>
  <div class="navright">
    <div class="darkcontainer">
      <a class="ddark0" routerLink="http://www.mailto.com" target="_blank" rel="noopener noreferrer">
        <i class="sociallogo fa-solid fa-house"></i>
      </a>
    </div>
    <div class="darkcontainer">
      <a class="ddark0" routerLink="http://www.mailto.com" target="_blank" rel="noopener noreferrer">
        <i class="sociallogo fa-solid fa-user"></i>
      </a>
    </div>
    <div class="darkcontainer">
      <a class="ddark0" routerLink="http://www.mailto.com" target="_blank" rel="noopener noreferrer">
        <i class="sociallogo fa-solid fa-gear"></i>
      </a>
    </div>
  </div>
</div>