<h1 class="login-head" style="text-align: left">
    Enter OTP
</h1>
<form class="mainform" (submit)="handleOTPCheck()">
    <div class="maincont">
        <div></div>
        <label class="span0" for="ot-01">
            Enter OTP
        </label>
        <i class="fas fa-key"></i>
        <input hovered class="mailnum" type="text" autocomplete="none" name="otp" id="ot-01" placeholder="U-091323" />
    </div>
    <p class="left">
        Enter the otp sent to you on you email address
    </p>
    <button type="submit">VERIFY</button>
</form>